.login > img {
  -webkit-filter: invert(1);
  filter: invert(1);
  width: 14%;
}

.login {
  display: flex;
  flex-direction: column; /* Set the flex direction to column */
  align-items: center; /* Center vertically */
}

.blackLine {
  background-color: #d9dadc;
  height: 2px;
  width: 100%;
}

.orLineDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:10px;
}

.orLine {
  width: 25vh; /* Adjust the width as needed */
  height: 2px; /* Adjust the height as needed */
  background-color: #D9DADC; /* Add a background color or border for visibility */
  margin-right: 20px; /* Optional spacing between the div and h2 */
  margin-left: 20px;
}

.login > a {
  background-color: #1877f2;
  padding: 8px;
  margin-top: 20px;
  border-radius: 20px;
  width: 30%;
  color: white;
  font-weight: 600;
  text-align: center;
  text-decoration: none; /* Remove underlines and styling */
}

.login > .appleAnchor {
  display: flex;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  text-decoration: none; /* Remove underlines and styling */
  background-color: black;
  font-weight: 600;
  text-align: center;
  padding: 8px;
}

.login > .googleAnchor {
  background-color: white;
  padding: 8px;
  margin-top: 20px;
  border-radius: 20px;
  width: 30%;
  color: black;
  font-weight: 700;
  text-align: center;
  text-decoration: none; /* Remove underlines and styling */
  border: 0.7px solid #000
}
.appleIcon {
  height: 35px;
}

.emailInput{
  width: 30%;
}

.login > .forgotPasswordAnchor {
  background-color: white;
  color: black;
  text-align: left;
}

.login > .loginButton {
  color: black;
  background-color: #1ED760;
  width: 10%;
  margin-left: 20%;
}
.checkBox {
  display: flex;
  align-items: center; /* Align the checkbox label vertically with the anchor */
  justify-content: flex-start; /* Align the checkbox label to the left */
}

.seperationLine{
  width: 32%; /* Adjust the width as needed */
  height: 2px; /* Adjust the height as needed */
  background-color: #D9DADC; /* Add a background color or border for visibility */
  margin-top:20px;
}

.login > .signupAnchor {
  background-color: white;
  color:#6A6A6A;
  border: solid 1px #6A6A6A;
  padding-top:12px;
  padding-bottom:12px;
}

