.playerPageBody {
  flex: 0.8;
  background: linear-gradient(rgb(31, 31, 31), black);
}

.playerPageBody > .defaultBody {
  margin-left: 4%;
  margin-top: 3%;
}

.playerPageBody > .defaultBody > h1 {
  color: white;
  font-size: 40px;
}

.playerPageBody > .defaultBody > p {
  margin-top: 10px;
  color: #b3b3b3;
}

.playerPageBody > .tracksBody {
  width: 95%;
  margin: auto;
  margin-bottom: 120px;
}

.playerPageBody > .tracksBody > thead > tr {
  color: gray;
}

.tracksBody th {
  border-bottom: 1px solid #282828; /* Add a 2px solid black border at the bottom */
}

.playerPageBody > .tracksBody > tbody > tr {
  text-align: center;
  color: white;
  font-weight: 500;
  &:hover {
    background-color: #2b2a2b;
  }
}

.playerPageBody > .tracksBody > tbody > tr > .titleAndNumber {
  display: flex;
  align-items: center;
  gap: 10px;
}

.playerPageBody
  > .tracksBody
  > tbody
  > tr
  > .titleAndNumber
  > .titleAndArtists {
  text-align: left;
  color: white;
}
.playerPageBody
  > .tracksBody
  > tbody
  > tr
  > .titleAndNumber
  > .titleAndArtists
  > .artistsBody
  > .artistOfTheTrack {
  color: #aaaaaa;
  font-size: 13px;
  text-align: left;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.playerPageBody > .dotSpinnerDiv {
  display: flex;
  margin-top:10%;
  justify-content: center;
}

.playerPageBody > .tracksBody > tbody > tr > td {
  color: #aaaaaa;
}
