.playerPageBody {
  flex: 0.8;
  background: linear-gradient(rgb(31, 31, 31), black);
}

.playerPageBody > .defaultBody {
  margin-left: 4%;
  margin-top: 3%;
}

.playerPageBody > .defaultBody > h1 {
  color: white;
  font-size: 40px;
}

.playerPageBody > .defaultBody > p {
  margin-top: 10px;
  color: #b3b3b3;
}

.defaultBody > .tracksBody{
  width: 95%;
  margin: auto;
  margin-bottom: 120px;
}

.playerPageBody > .tracksBody {
  width: 95%;
  margin: auto;
  margin-bottom: 120px;
}

.playerPageBody > .tracksBody > thead > tr {
  color: gray;

}

.defaultBody > .tracksBody > thead > tr {
  color: gray;

}

.tracksBody th {
  border-bottom: 1px solid #282828; /* Add a 2px solid black border at the bottom */
}



.playerPageBody > .tracksBody > tbody > tr {
  text-align: center;
  color: white;
  font-weight: 500;
  &:hover {
    background-color: #2b2a2b;
  }
}

.defaultBody > .tracksBody > tbody > tr {
  text-align: center;
  color: white;
  font-weight: 500;
  &:hover {
    background-color: #2b2a2b;
  }
}

.defaultBody > .tracksBody > tbody >tr > .titleAndNumber {
  display: flex;
  align-items: center;
  gap: 10px;
}

.playerPageBody > .tracksBody > tbody > tr > .titleAndNumber {
  display: flex;
  align-items: center;
  gap: 10px;
}

.defaultBody
  > .tracksBody
  > tbody
  > tr
  > .titleAndNumber
  > .titleAndArtists {
  text-align: left;
  color: white;
}

.playerPageBody
  > .tracksBody
  > tbody
  > tr
  > .titleAndNumber
  > .titleAndArtists {
  text-align: left;
  color: white;
}

.defaultBody
  > .tracksBody
  > tbody
  > tr
  > .titleAndNumber
  > .titleAndArtists
  > .artistsBody
  > .artistOfTheTrack {
  color: #aaaaaa;
  font-size: 13px;
  text-align: left;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.playerPageBody
  > .tracksBody
  > tbody
  > tr
  > .titleAndNumber
  > .titleAndArtists
  > .artistsBody
  > .artistOfTheTrack {
  color: #aaaaaa;
  font-size: 13px;
  text-align: left;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.playerPageBody > .dotSpinnerDiv {
  display: flex;
  margin-top: 10%;
  justify-content: center;
}

.defaultBody > .tracksBody {
  margin-top: 20px;
}

.defaultBody > .tracksBody > tbody > tr > td {
  color: #aaaaaa;
}

.playerPageBody > .tracksBody > tbody > tr > td {
  color: #aaaaaa;
}
.selected-row {
  background-color: #5a595a; /* Set your desired background color for selected rows */
}

.playerPageBody > .defaultBody > .playlistDetailsBody > .playlistImage{
  height: 150px;
  width: 150px;
  border-radius: 6px;
  margin-top: 10px;
}

.playlistDetailsBody{
  display: flex;
  align-items: center;
}

.playlistTitle{
  font-size: 80px;
}

.playlistTitle, .playlistDescription {
  color:white;
  margin-top: 0.5%;
  padding-left: 20px;
}

.playlistDescription{
  color: #B3B3B3;
  font-weight: 500;
}
