.step4Body {
  margin: auto;
  width: 35%;
  margin-top: 20px;
  height: 50vh;
}

.step4Body > .stepInfoBody > .backArrow {
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.2); /* Adjust the scale factor as desired */
  }
}

.step4Body > .stepInfoBody {
  display: flex;
  align-items: center;
  margin: 10px;
  font-size: 18px;
  font-weight: 500;
}

.step4Body > .centeredFormControl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}

.step4Body > .stepInfoBody > .stepInfoBody2 {
  display: flex;
  flex-direction: column;
}

.step4Body > .centeredFormControl > p {
  font-weight: 600;
  text-align: left;
  margin-left: 35px;
  margin-top: 20px;
}

.step4Body > .centeredFormControl > .paragraph-2 > a {
  color: #1ed760;
}

.step4Body > .centeredFormControl > .signupAnchor {
  color: #6a6a6a;
  border: solid 1px #6a6a6a;
  text-align: center;
  padding: 10px;
  width: 400px;
  border-radius: 20px;
  margin-top: 15px;
  transition: transform 0.1s ease;
  &:hover {
    transform: scale(1.05); /* Adjust the scale factor as desired */
    border: solid 1px black;
    color: black;
  }
}
